/*general fonts*/
html, body{
  padding: 5%;
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  font-style: normal;
  font-size: 100%;
  text-align: justify;
  color:#333;
  background-color: #F5F5DC;
}

a:any-link{
  font-weight: bold;
  color:#333;
}

p {
  font-size: 1em
}

.links {
  text-align: center;
}