/*general fonts*/
html, body{
  padding: 5%;
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  font-style: normal;
  font-size: 100%;
  text-align: justify;
  color:#ccc;
  background-color: #333;
}

a:any-link{
  font-weight: bold;
  color:#ccc;
}

p {
  font-size: 1em
}
.links {
  text-align: center;
}